<a href="https://colab.research.google.com/github/ByronBlaze/book_recommender/blob/main/book_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
from matplotlib import colors

In [2]:
os.chdir('/content/drive/My Drive/Projects/book_recommender')

In [5]:
pwd

'/content/drive/My Drive/Projects/book_recommender'

In [6]:
df = pd.read_csv('books.csv',error_bad_lines=False)
df.head(5)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

   bookID  ...        publisher
0       1  ...  Scholastic Inc.
1       2  ...  Scholastic Inc.
2       4  ...       Scholastic
3       5  ...  Scholastic Inc.
4       8  ...       Scholastic

[5 rows x 12 columns]

In [7]:
df.describe()

             bookID  average_rating  ...  ratings_count  text_reviews_count
count  11123.000000    11123.000000  ...   1.112300e+04        11123.000000
mean   21310.856963        3.934075  ...   1.794285e+04          542.048099
std    13094.727252        0.350485  ...   1.124992e+05         2576.619589
min        1.000000        0.000000  ...   0.000000e+00            0.000000
25%    10277.500000        3.770000  ...   1.040000e+02            9.000000
50%    20287.000000        3.960000  ...   7.450000e+02           47.000000
75%    32104.500000        4.140000  ...   5.000500e+03          238.000000
max    45641.000000        5.000000  ...   4.597666e+06        94265.000000

[8 rows x 6 columns]

In [8]:
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64